:root {
  --canvas-width: 640px;
  --canvas-height: 320px;
}
.mb-20 {
  margin-bottom: 20px;
}
.text-align-center {
  text-align: center;
}

.layoutBox {
  display: flex;
}

.layoutBox .left {
  width: 66.66%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layoutBox .right {
  width: 33.33%;
  background-color: #000;
}
.layoutBox .right pre {
  padding: 20px;
}

.photo-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.photo-wrap .photo-view {
  border: 1px solid rgba(0, 0, 0, 1);
  width: var(--canvas-width);
  height: var(--canvas-height);
}

.input-upload-label {
  margin-top: 20px;
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.input-upload {
  display: none;
}
